SOLANA_RPC_URL=http://localhost:8899
RELAY_OPERATOR_PRIVATE_KEY=
ORACLE_PROGRAM_ID=
KESH_PROGRAM_ID=
SIX_API_KEY=
SIX_API_BASE_URL=https://web.api.six-group.com/api/findata/v1
SIX_KES_USD_INSTRUMENT=USD/KES
SIX_TBILL_INSTRUMENT=KE91D
SIX_GOLD_INSTRUMENT=XAU/USD
PYTH_DEVNET_URL=https://hermes-beta.pyth.network
RELAY_INTERVAL_SECONDS=30
LOG_LEVEL=info
